@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a {
  color: black !important;
  padding: 0;
}


.brand-logo{
  font-family: 'Grand Hotel';
}

.material-icons:hover {
  cursor: pointer;
}

.collection-item {
  width: 100%;
}