
.home-card {
    margin: 26px auto;
    max-width: 500px;
    height: max-content;
}

.card-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-name {
    padding: 5px;
} 

.card-commentby {
    font-weight: 600;
    margin-right: 10px;
    color: black;
}

span {
    color: rgb(18, 189, 231);
    font-weight: 650;
}